/*
  This is the main file for SASS to compile all style files. Add you SASS code directly here or dividing them in modules.
*/

@import 'bootstrap-custom';
@import 'wordpress';

/* HEADER */
#bs4seed-header {
  .navbar-brand {
    img.logo {
        height: 10rem;
    }
  }
}

/* FOOTER */
#bs4seed-footer {
  background-color: $dark;

  h3 {
    color: $light;
    padding: .7rem 0 0 0;
    font-size: 1.5rem;
    margin: 0;
  }

  nav {
    padding: .3rem 0 0 0;
    ul {
      display: flex;
      flex-direction: column;
      a {
        padding: .2rem 0 0 0;
      }
    }
  }

  .bottom-row {
    text-align: right;
    color: $light;
  }
}